<form class="{{cssClass}}" autocomplete="off">
  <!-- HEADER -->
  <div class="sheet-header">
    <div class="header-columns">
      <!-- Left Column: Character Image -->
      <div class="header-image-column">
        <img class="character-portrait" src="{{actor.img}}" data-edit="img" alt="{{actor.name}}" title="Click to change image">
      </div>
      
      <!-- Right Column: Character Info -->
      <div class="header-info-column">
        <!-- Row 1: Name + Gender -->
        <div class="header-info-row header-row-1">
          <div class="field-name-large">
            <input type="text" name="name" value="{{actor.name}}" placeholder="Nom du personnage">
          </div>
          <div class="field-inline field-gender">
            <div class="gender-toggle">
              <label class="gender-option male">
                <input type="radio" name="system.biography.gender" value="male" {{#eq actor.system.biography.gender "male"}}checked{{/eq}}>
                <span class="gender-icon" aria-hidden="true"></span>
                <span class="gender-text">Homme</span>
              </label>
              <label class="gender-option female">
                <input type="radio" name="system.biography.gender" value="female" {{#eq actor.system.biography.gender "female"}}checked{{/eq}}>
                <span class="gender-icon" aria-hidden="true"></span>
                <span class="gender-text">Femme</span>
              </label>
            </div>
          </div>
        </div>
        
        <!-- Row 2: Age + Taille + Poids -->
        <div class="header-info-row header-row-2">
          <div class="field-inline">
            <label>Age</label>
            <input type="text" name="system.biography.age" value="{{actor.system.biography.age}}" placeholder="25">
          </div>
          <div class="field-inline">
            <label>Taille (cm)</label>
            <input type="number" name="system.biography.height" value="{{actor.system.biography.height}}" min="0" placeholder="180">
          </div>
          <div class="field-inline">
            <label>Poids (kg)</label>
            <input type="number" name="system.biography.weight" value="{{actor.system.biography.weight}}" min="0" placeholder="75">
          </div>
        </div>
        
        <!-- Row 3: Année + Origine + Renommé -->
        <div class="header-info-row header-row-3">
          <div class="field-inline">
            <label>Année</label>
            <input type="number" name="system.biography.year" value="{{actor.system.biography.year}}" min="0" placeholder="1250">
          </div>
          <div class="field-inline">
            <label>Origine</label>
            <input type="text" name="system.biography.origin" value="{{actor.system.biography.origin}}" placeholder="Royaume">
          </div>
          <div class="field-inline">
            <label>Renommé</label>
            <input type="number" name="system.biography.renown" value="{{actor.system.biography.renown}}" min="0" placeholder="5">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- NAVIGATION TABS -->
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item active" data-tab="stats">Stats & Attributes</a>
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="items">Items</a>
  </nav>

  <!-- TAB CONTENT -->
  <section class="sheet-body">
    
    <!-- STATS TAB -->
    <div class="tab-content active" data-tab="stats">
      
      <!-- Attributes Grid - Custom Style -->
      <div class="headerActorsAttribs three-columns">
        <div class="attrib-column">
          <div class="attrib-column-headers">
            <span class="attrib-name-header"></span>
            <div class="attrib-values-headers">
              <span class="attrib-value-header">Origine</span>
              <span class="attrib-value-header">Actuel</span>
            </div>
          </div>
          <div class="headerActorAttrib" data-ability="intelligence">
            <span class="headerActorAttribLabel">Intelligence</span>
            <div class="attrib-values">
              <div class="attrib-value">
                <input type="number" class="headerActorAttribValue" name="system.attributes.intelligence.origin" value="{{actor.system.attributes.intelligence.origin}}" min="0">
              </div>
              <div class="attrib-value">
                <input type="number" class="headerActorAttribValue" name="system.attributes.intelligence.current" value="{{actor.system.attributes.intelligence.current}}" min="0">
              </div>
            </div>
          </div>

          <div class="headerActorAttrib" data-ability="will">
            <span class="headerActorAttribLabel">Volonté</span>
            <div class="attrib-values">
              <div class="attrib-value">
                <input type="number" class="headerActorAttribValue" name="system.attributes.will.origin" value="{{actor.system.attributes.will.origin}}" min="0">
              </div>
              <div class="attrib-value">
                <input type="number" class="headerActorAttribValue" name="system.attributes.will.current" value="{{actor.system.attributes.will.current}}" min="0">
              </div>
            </div>
          </div>

          <div class="headerActorAttrib" data-ability="mental">
            <span class="headerActorAttribLabel">Santé Mentale</span>
            <div class="attrib-values">
              <div class="attrib-value">
                <input type="number" class="headerActorAttribValue" name="system.attributes.mental.origin" value="{{actor.system.attributes.mental.origin}}" min="0">
              </div>
              <div class="attrib-value">
                <input type="number" class="headerActorAttribValue" name="system.attributes.mental.current" value="{{actor.system.attributes.mental.current}}" min="0">
              </div>
            </div>
          </div>

          <div class="headerActorAttrib" data-ability="charisma">
            <span class="headerActorAttribLabel">Charisme</span>
            <div class="attrib-values">
              <div class="attrib-value">
                <input type="number" class="headerActorAttribValue" name="system.attributes.charisma.origin" value="{{actor.system.attributes.charisma.origin}}" min="0">
              </div>
              <div class="attrib-value">
                <input type="number" class="headerActorAttribValue" name="system.attributes.charisma.current" value="{{actor.system.attributes.charisma.current}}" min="0">
              </div>
            </div>
          </div>

          <div class="headerActorAttrib" data-ability="adaptation">
            <span class="headerActorAttribLabel">Adaptation</span>
            <div class="attrib-values">
              <div class="attrib-value">
                <input type="number" class="headerActorAttribValue" name="system.attributes.adaptation.origin" value="{{actor.system.attributes.adaptation.origin}}" min="0">
              </div>
              <div class="attrib-value">
                <input type="number" class="headerActorAttribValue" name="system.attributes.adaptation.current" value="{{actor.system.attributes.adaptation.current}}" min="0">
              </div>
            </div>
          </div>
        </div>

        <div class="attrib-column">
          <div class="attrib-column-headers">
            <span class="attrib-name-header"></span>
            <div class="attrib-values-headers">
              <span class="attrib-value-header">Origine</span>
              <span class="attrib-value-header">Actuel</span>
            </div>
          </div>
          <div class="headerActorAttrib" data-ability="strength">
            <span class="headerActorAttribLabel">Force</span>
            <div class="attrib-values">
              <div class="attrib-value">
                <input type="number" class="headerActorAttribValue" name="system.attributes.strength.origin" value="{{actor.system.attributes.strength.origin}}" min="0">
              </div>
              <div class="attrib-value">
                <input type="number" class="headerActorAttribValue" name="system.attributes.strength.current" value="{{actor.system.attributes.strength.current}}" min="0">
              </div>
            </div>
          </div>

          <div class="headerActorAttrib" data-ability="dexterity">
            <span class="headerActorAttribLabel">Dextérité</span>
            <div class="attrib-values">
              <div class="attrib-value">
                <input type="number" class="headerActorAttribValue" name="system.attributes.dexterity.origin" value="{{actor.system.attributes.dexterity.origin}}" min="0">
              </div>
              <div class="attrib-value">
                <input type="number" class="headerActorAttribValue" name="system.attributes.dexterity.current" value="{{actor.system.attributes.dexterity.current}}" min="0">
              </div>
            </div>
          </div>

          <div class="headerActorAttrib" data-ability="speed">
            <span class="headerActorAttribLabel">Rapidité</span>
            <div class="attrib-values">
              <div class="attrib-value">
                <input type="number" class="headerActorAttribValue" name="system.attributes.speed.origin" value="{{actor.system.attributes.speed.origin}}" min="0">
              </div>
              <div class="attrib-value">
                <input type="number" class="headerActorAttribValue" name="system.attributes.speed.current" value="{{actor.system.attributes.speed.current}}" min="0">
              </div>
            </div>
          </div>

          <div class="headerActorAttrib" data-ability="constitution">
            <span class="headerActorAttribLabel">Constitution</span>
            <div class="attrib-values">
              <div class="attrib-value">
                <input type="number" class="headerActorAttribValue" name="system.attributes.constitution.origin" value="{{actor.system.attributes.constitution.origin}}" min="0">
              </div>
              <div class="attrib-value">
                <input type="number" class="headerActorAttribValue" name="system.attributes.constitution.current" value="{{actor.system.attributes.constitution.current}}" min="0">
              </div>
            </div>
          </div>

          <div class="headerActorAttrib" data-ability="chance">
            <span class="headerActorAttribLabel">Chance</span>
            <div class="attrib-values">
              <div class="attrib-value">
                <input type="number" class="headerActorAttribValue" name="system.attributes.chance.origin" value="{{actor.system.attributes.chance.origin}}" min="0">
              </div>
              <div class="attrib-value">
                <input type="number" class="headerActorAttribValue" name="system.attributes.chance.current" value="{{actor.system.attributes.chance.current}}" min="0">
              </div>
            </div>
          </div>
        </div>

        <div class="attrib-column">
          <div class="attrib-column-headers is-ghost-header">
            <span class="attrib-name-header"></span>
            <div class="attrib-values-headers">
              <span class="attrib-value-header">Origine</span>
              <span class="attrib-value-header">Actuel</span>
            </div>
          </div>
          <div class="headerActorAttrib perception-attrib" data-ability="perception">
            <div class="perception-header">
              <span class="headerActorAttribLabel">Perception</span>
              <input type="number" class="headerActorAttribValue" name="system.attributes.perception" value="{{actor.system.attributes.perception}}" min="0">
            </div>
            <div class="headerActorSubAttrib" data-sub-ability="sight" data-label="Vue">
              <span class="headerActorSubAttribLabel">Vue</span>
              <input type="number" class="headerActorAttribValue" name="system.attributes.perceptionDetail.sight" value="{{actor.system.attributes.perceptionDetail.sight}}" min="0">
            </div>
            <div class="headerActorSubAttrib" data-sub-ability="hearing" data-label="Ouie">
              <span class="headerActorSubAttribLabel">Ouie</span>
              <input type="number" class="headerActorAttribValue" name="system.attributes.perceptionDetail.hearing" value="{{actor.system.attributes.perceptionDetail.hearing}}" min="0">
            </div>
            <div class="headerActorSubAttrib" data-sub-ability="taste" data-label="Goût">
              <span class="headerActorSubAttribLabel">Goût</span>
              <input type="number" class="headerActorAttribValue" name="system.attributes.perceptionDetail.taste" value="{{actor.system.attributes.perceptionDetail.taste}}" min="0">
            </div>
            <div class="headerActorSubAttrib" data-sub-ability="smell" data-label="Odorat">
              <span class="headerActorSubAttribLabel">Odorat</span>
              <input type="number" class="headerActorAttribValue" name="system.attributes.perceptionDetail.smell" value="{{actor.system.attributes.perceptionDetail.smell}}" min="0">
            </div>
            <div class="headerActorSubAttrib" data-sub-ability="touch" data-label="Toucher">
              <span class="headerActorSubAttribLabel">Toucher</span>
              <input type="number" class="headerActorAttribValue" name="system.attributes.perceptionDetail.touch" value="{{actor.system.attributes.perceptionDetail.touch}}" min="0">
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- SKILLS TAB -->
    <div class="tab-content" data-tab="skills">
      
      <div class="skills-section">
        <nav class="skills-tabs">
          {{#each skillGroups as |group|}}
            <a class="item {{#if @first}}active{{/if}}" data-tab="{{group.id}}">{{group.label}}</a>
          {{/each}}
        </nav>
        <section class="skills-tabs-body">
          {{#each skillGroups as |group|}}
          <div class="skills-tab-content {{#if @first}}active{{/if}}" data-tab="{{group.id}}">
            
            <div class="skills-two-columns">
              <!-- Column 1 -->
              <div class="skills-column">
                <div class="skills-column-headers">
                  <div class="skill-name-header"></div>
                  <div class="skill-values-headers">
                    <div class="skill-value-header">Base</div>
                    <div class="skill-value-header">Dev</div>
                    <div class="skill-value-header">Degré</div>
                    <div class="skill-value-header">Bonus</div>
                    <div class="skill-value-header">Total</div>
                  </div>
                </div>
                
                <div class="skills-list">
                  {{#each group.skills as |skill|}}
                    {{#if (eq (mod @index 2) 0)}}
                    <div class="skill-item" data-skill="{{skill.key}}">
                      <div class="skill-name" title="Click to roll {{skill.label}}">{{skill.label}}</div>
                      <div class="skill-value">
                        <div class="skill-inputs">
                          <input type="number" class="skill-input" name="system.skills.{{skill.key}}.base" value="{{skill.base}}" min="0" title="Base" readonly>
                          <input type="number" class="skill-input" name="system.skills.{{skill.key}}.dev" value="{{skill.dev}}" min="0" title="Dev">
                          <input type="number" class="skill-input" name="system.skills.{{skill.key}}.degree" value="{{skill.degree}}" min="0" title="Degré" readonly>
                          <input type="number" class="skill-input" name="system.skills.{{skill.key}}.bonus" value="{{skill.bonus}}" min="0" title="Bonus">
                        </div>
                        <button type="button" class="skill-roll-btn">{{#if (gt skill.total 0)}}+{{/if}}{{skill.total}}</button>
                      </div>
                    </div>
                    {{/if}}
                  {{/each}}
                </div>
              </div>
              
              <!-- Column 2 -->
              <div class="skills-column">
                <div class="skills-column-headers">
                  <div class="skill-name-header"></div>
                  <div class="skill-values-headers">
                    <div class="skill-value-header">Base</div>
                    <div class="skill-value-header">Dev</div>
                    <div class="skill-value-header">Degré</div>
                    <div class="skill-value-header">Bonus</div>
                    <div class="skill-value-header">Total</div>
                  </div>
                </div>
                
                <div class="skills-list">
                  {{#each group.skills as |skill|}}
                    {{#unless (eq (mod @index 2) 0)}}
                    <div class="skill-item" data-skill="{{skill.key}}">
                      <div class="skill-name" title="Click to roll {{skill.label}}">{{skill.label}}</div>
                      <div class="skill-value">
                        <div class="skill-inputs">
                          <input type="number" class="skill-input" name="system.skills.{{skill.key}}.base" value="{{skill.base}}" min="0" title="Base" readonly>
                          <input type="number" class="skill-input" name="system.skills.{{skill.key}}.dev" value="{{skill.dev}}" min="0" title="Dev">
                          <input type="number" class="skill-input" name="system.skills.{{skill.key}}.degree" value="{{skill.degree}}" min="0" title="Degré" readonly>
                          <input type="number" class="skill-input" name="system.skills.{{skill.key}}.bonus" value="{{skill.bonus}}" min="0" title="Bonus">
                        </div>
                        <button type="button" class="skill-roll-btn">{{#if (gt skill.total 0)}}+{{/if}}{{skill.total}}</button>
                      </div>
                    </div>
                    {{/unless}}
                  {{/each}}
                </div>
              </div>
            </div>
            
          </div>
          {{/each}}
        </section>
      </div>

    </div>

    <!-- ITEMS TAB -->
    <div class="tab-content" data-tab="items">
      
      <!-- Weapons -->
      <div class="items-section">
        <h3>Weapons</h3>
        <div class="items-list">
          {{#each (filterItems actor.items "weapon") as |item|}}
          <div class="item-card" data-item-id="{{item._id}}">
            <div>
              <div class="item-name" style="cursor: pointer;">{{item.name}}</div>
              <div style="font-size: 11px; color: #999;">{{item.system.damage}}</div>
            </div>
            <div style="display: flex; gap: 5px;">
              <button type="button" class="item-edit" style="padding: 3px 8px; background-color: #0f3460; color: #e94560; border: 1px solid #e94560; border-radius: 3px; cursor: pointer;">✎</button>
              <button type="button" class="item-delete" style="padding: 3px 8px; background-color: #cc3344; color: white; border: none; border-radius: 3px; cursor: pointer;">✕</button>
            </div>
          </div>
          {{/each}}
          <button type="button" class="item-create btn" data-type="weapon" style="width: 100%; margin-top: 10px;">+ Add Weapon</button>
        </div>
      </div>

      <!-- Armor -->
      <div class="items-section" style="margin-top: 20px;">
        <h3>Armor & Protection</h3>
        <div class="items-list">
          {{#each (filterItems actor.items "armor") as |item|}}
          <div class="item-card" data-item-id="{{item._id}}">
            <div>
              <div class="item-name" style="cursor: pointer;">{{item.name}}</div>
              <div style="font-size: 11px; color: #999;">AC {{item.system.armorClass}}</div>
            </div>
            <div style="display: flex; gap: 5px;">
              <button type="button" class="item-edit" style="padding: 3px 8px; background-color: #0f3460; color: #e94560; border: 1px solid #e94560; border-radius: 3px; cursor: pointer;">✎</button>
              <button type="button" class="item-delete" style="padding: 3px 8px; background-color: #cc3344; color: white; border: none; border-radius: 3px; cursor: pointer;">✕</button>
            </div>
          </div>
          {{/each}}
          <button type="button" class="item-create btn" data-type="armor" style="width: 100%; margin-top: 10px;">+ Add Armor</button>
        </div>
      </div>

      <!-- Equipment -->
      <div class="items-section" style="margin-top: 20px;">
        <h3>Equipment</h3>
        <div class="items-list">
          {{#each (filterItems actor.items "equipment") as |item|}}
          <div class="item-card" data-item-id="{{item._id}}">
            <div class="item-name" style="cursor: pointer;">{{item.name}}</div>
            <div style="display: flex; gap: 5px;">
              <button type="button" class="item-edit" style="padding: 3px 8px; background-color: #0f3460; color: #e94560; border: 1px solid #e94560; border-radius: 3px; cursor: pointer;">✎</button>
              <button type="button" class="item-delete" style="padding: 3px 8px; background-color: #cc3344; color: white; border: none; border-radius: 3px; cursor: pointer;">✕</button>
            </div>
          </div>
          {{/each}}
          <button type="button" class="item-create btn" data-type="equipment" style="width: 100%; margin-top: 10px;">+ Add Equipment</button>
        </div>
      </div>

    </div>

  </section>
</form>
